.about-us-container{
  width: 100%;
  display: flex;

}
.about-us-container2{
  width: 60%;
  justify-content: center; /* Sayfayı yatayda ortalama */
  align-items: center; /* Sayfayı dikeyde ortalama */
  margin: 0 auto;
}
.aboutimg{
  border-radius: 100%;
  width: 15vw;
  height: auto;
}

.about-us-container h2,p {
  max-width: 80%; /* İçeriğin maksimum genişliği */
  margin: 0 auto; /* Sayfa içinde yatayda ortalamak için margin ayarı */
  padding: 2vw; /* İçerik kenar boşlukları */
  text-align: center; /* İçeriği ortala */
}

.about-us-container h2 {
  font-size: 4vw;
  color: #00bfff;

}

.section-description {
  font-size: 1vw;
  color: #ffffff;
  line-height: 1.6;
}



