.contact-us-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 10vw;
  margin: 0 auto; 
}
.contact-us-container {
  margin-top: 5vw;
  margin-bottom: 5vw; /* Altındaki boşluğu belirtmek için */
}

.contact-card {
  background-color: rgb(203, 132, 0);
  width: 15vw; /* Kartların genişliği */
  height: 10w;
  padding: 2vw;
  border: 2px solid rgb(255, 234, 115);
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column; /* İçeriği dikeyde (alt alta) hizalamak için */
  justify-content: center; /* İçeriği yatayda ortalamak için */
  align-items: center; /* İçeriği dikeyde ortalamak için */
}

.contact-icon {
  font-size: 4vw;
  color: #ffffff; /* Icon rengi (mavi) */
  margin-bottom: 2vw; /* Icon ile buton arasındaki boşluk */
  
}

.contact-button {
  font-size: 1vw;
  background-color: #28a745; /* Yeşil renk */
  color: #fff; /* Beyaz renk */
  padding: 1vw 2vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 9vw;
  height: 3vw;
  margin-bottom: 2vw;
  max-width: 90%;
}
.contact-info {
  font-size: 1vw; /* Varsayılan boyut */
  color: #ffffff; /* Varsayılan renk */
}

.contact-info.phone {
  font-size: 1vw;
  color: rgb(255, 255, 255); /* Kırmızı renk */
  flex-wrap: wrap;
}

.contact-info.mail {
  font-size: 1vw;
  color: rgb(255, 255, 255); /* Mavi renk */
  flex-wrap: wrap;
}

.contact-info.location {
  font-size: 1vw;
  color: rgb(255, 255, 255); /* Yeşil renk */
}


