.navbar {
  background-color: rgb(203, 132, 0);
  color: #fff;
  width: 100vw;
  border-bottom: 3px solid rgb(203, 132, 0); /* Her alt öğeye alt çizgi ekle */
  box-shadow: 0 5px 5px rgba(203, 132, 0, 0.5); /* Alt çizgilere gölge efekti ekle */

}


.nav-menu {
  display: flex;
  justify-content: space-between; /* Öğeleri eşit aralıklarla dağıt */
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 10vw;
  margin-left: 10vw;
}
.nav-item:last-child {
  margin-right: 50; /* Son öğe için boşluk bırakma */
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  
  transition: color 0.3s ease;
  font-size: 1vw;
}

.nav-item a:hover {
  color: #ffd700; /* Hover üzerinde renk değişimi */
}

