.services-container {
  display: flex;
  flex-direction: column;

  width: 100%;


}

.service-card {
  width: 60%;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 100px;
  margin: 1.5vw auto;
  text-align: center;
  border: 2px solid rgb(255, 215, 0); /* Her alt öğeye alt çizgi ekle */
  box-shadow: 0 5px 5px rgba(220, 187, 0, 0.5); /* Alt çizgilere gölge efekti ekle */
  position: relative; /* Kartın içeriğine göre pozisyon ayarla */
  overflow: hidden; /* İçeriklerin taşmasını engellemek için */
}


.service-info {
  flex: 1;
  padding: 10px;
}

.service-image {
  margin: 2vw;

}

.service-image img {
  width: 12vw; /* Resimlerin genişliğini %50 olarak ayarla */
  height: 12vw;
  border-radius: 50%; /* Yuvarlak şekilde resimler */
  transition: transform 0.3s ease;
}

.service-image:hover img {
  transform: scale(1.1);
}

.service-info h2 {
  color: #ffffff; /* Başlık rengi */
  font-size: 2vw; /* Başlık font boyutu */
}

.service-info p {
  color: #ffffff; /* Açıklama rengi */
  font-size: 1vw; /* Açıklama font boyutu */
}
.service-card:hover {
  transform: scale(1.1); /* Mouse üzerine gelince kartı büyüt */
}
.service-card:hover::after {
  transform: scale(1.1); /* Mouse üzerine gelince borderi büyüt */
}
.service-card:hover {
  cursor: pointer; /* Mouse hover efekti için imleç tipini değiştir */
}